:root {
  --green-color-3: white;
  --green-color-2: white;
  --green-color-1: white;
}
* {
  box-sizing: border-box;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Do Hyeon", sans-serif;
}

body {
  background: linear-gradient(270deg, #ffdbcb, #fcb9a9);
  animation: bodyColorAnimation 20s ease infinite;
}

@keyframes bodyColorAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
